body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

header {
	border-bottom: 1px solid #eee;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 50px;
	background-color: #f5f5f5;
}

.footer .container {
	padding: 15px 0 5px 0;
}
